
    $shadow-color: 0deg 0% 63%;
    $shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    $shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    $shadow-elevation-high:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
      7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
      17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
      25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
 
input[type="submit"] {
    width: 100%;
    padding: 15px;
   margin-top: 20px;
    background-color: $secondcol;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: $primarycol;
    transition: background-color 0.2s;
}
input[type="submit"]:hover {
  background-color: $primarycol;
  color: $secondcol;
    transition: background-color color 0.2s ease-in-out;
}

.login {
    max-width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: $primarycol;
    font-size: 3rem;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.admin-wrapper{
    margin-bottom:1rem;
}

.navadmin{
    height: auto;
    background-color: inherit;
}

.footer-admin{
    height: auto;
    padding: 1rem 0 1rem 0;
}

table{
   // width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table,
th,
td{
    border: 1.25px solid $primarycol;
    
}

th{
    height: 50px;
    min-width: 10px;
}
td{
    padding: 0.5rem;
}

.th-description{
    width: 25%;
}
.subtitle,
.category{
    width: clamp(10ch,1vw,5ch );

}

.id{
    width: 2.5rem;
}

.th-edit{
    width: min-max(50px,50px );
}
.read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}
.read .create-contact:hover {
    background-color: #32a367;
}
.read .pagination {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}
.read .pagination a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: $primarycol;
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}
.read .pagination a:hover {
    opacity: 0.8;
}
.read table {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    border-collapse: collapse;
}
.read table thead {
    background-color: #ebeef1;
    border-bottom: 1px solid #d3dae0;
}
.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
}
.read table tbody tr {
    border-bottom: 1px solid #d3dae0;
    word-wrap: break-word;
}
.read table tbody tr:nth-child(even) {
    background-color: #e4e4e4;
}
.read table tbody tr:hover {
    background-color: $secondcol;
}
.read table tbody tr:hover td {
    color: $primarycol;
}
.read table tbody tr:hover td:nth-child(1) {
    color: $secondcol;
}
.read table tbody tr td {
    padding: 10px;
}
.read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}
.read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
    width: 80px;
}
.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    text-decoration: none;
    margin: 0.25rem;
    color: $secondcol;
    padding: 10px 12px;
}
.read table tbody tr td.actions .trash {
    background-color: $primarycol;
}
.read table tbody tr td.actions .trash:hover {
    opacity: 0.8;
}
.read table tbody tr td.actions .edit {
    background-color: $primarycol;
}
.read table tbody tr td.actions .edit:hover {
    opacity: 0.8;
}


.delete .yesno {
    display: flex;
}
.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
    background-color: #32a367;
}

.update{
    max-width:520px ;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.update form{
    padding: 3rem;
}

.product-navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    i{
        color:$primarycol;
        font-size: 1.5rem;
        &:hover{
            opacity: 0.8;
        }
        &:focus{
            opacity: 0.8;
        }
    }
}

.hidden{
    display: none;
}


    @media (max-width:768px) {

        .table{
        display: none;
    }
}

@media (min-width:768px) {

    .hidden-info{
    display: none;
}}


.index-price-table{
    max-height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
}

.error{
    display: block;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    place-items: center;
    gap: 2rem;
}

.dashboard-icon-wrapper{
    display: grid;
    text-align: center;
    padding: 0.5rem;
    color: black;
    
    background-color: rgb(245, 245, 245);
    height: 150px;
    width: 150px;
    box-shadow: 4px 2px 4px 0px rgba(148,148,148,0.82);
    -webkit-box-shadow: 4px 2px 4px 0px rgba(148,148,148,0.82);
    -moz-box-shadow: 4px 2px 4px 0px rgba(148,148,148,0.82);
}

.dashboard-icon{
    font-size: 2rem;
}