@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

$sanserif: 'Montserrat', sans-serif;
$serif: 'Playfair Display', serif;
$handwriting: 'Pinyon Script', cursive;

.herotitle{
    font-size: 2.5rem;
}

.herotext{
    font-size: 1.5rem;
}

.content{
    font-family: $sanserif;
}