//remove top padding
.p-top-0{
    padding-top: 0;
}

// Add top padding of 3rem
.p-top-1{
    padding-top:3rem;
}

// Add bottom Padding of 3rem
.p-bt-1{
    padding-bottom: $stdpadding;
}
//Add bottom margin 1.5rem
.m-b-1{
    margin-bottom: 1.5rem; 
}