// Default Hero Settings
.hero{
   background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding: 2.5vh;
    background-color: $herobgblend;
  background-blend-mode: soft-light;
  color: $text-light;
  min-height: 40vh;
}

.herogrid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.herotitle{
    grid-row: 1/1;
    grid-column: 1/4;
}
.herotext{
    grid-row: 2/3;
    grid-column: 1/4;

}
.herobtn{
    max-width: max-content;
    &:hover{
        text-decoration: none;
    }
}

// Price List Page

.pricehero{
    background-image: url("../img/price-hero.jpg");
    background-color: rgb(252, 197, 197);
    background-blend-mode: multiply;
    
    max-height: 50vh;
}

// Contact Page

.contacthero{
    background-image: url("../img/contact-hero2.png");
    //background-color: $secondcol;
    max-height: 50vh;
    background-color: rgb(255, 255, 255);
   background-blend-mode: multiply;
}

.contact-title{
    text-align: center;
}
.openinghrs table, th, td{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 0 !important;
    border-color: initial;
    td{
        padding: 0 0.5rem 0 0.5rem;
    }
}


.openinghrs{
    .opentitle{
        text-align: center;
    }
    
    
    p{
        margin-bottom: 0.5rem;
    }
    .day, .hrs{
        font-family: $sanserif;
        font-size: 1rem;
        font-weight: 400;
    }
}

.contactdetails{
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    
    ul{
        
        line-height: 1.7;
        font-family: $sanserif;
    }
    li{
        letter-spacing: 1.25px;
        font-size: 1rem;
        word-wrap: break-word;
    }
    .fa-li{
        color: $primarycol;
    }
}



 
// About Page

.abouthero{
    background-image: url("../img/about-hero.jpg");
    //background-color: $secondcol;
    max-height: 50vh;
    background-color: rgb(252, 197, 197);
    background-blend-mode: multiply;
}


// Prices Booking Form

// Aesthetics

.aestheticshero{
    background-image: url("../img/aesthetics-hero.jpg");
}
